@media screen and (max-width:768px){
    
    body{
        font-family: Arial, Helvetica, sans-serif;
    }

    
    nav {
        background-color:rgb(253, 242, 200);
        height: 100px;
        border-radius: 20px;
       
    
    }
    
    a{
        text-decoration: none;
        color:brown;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      
    li {
        flex: 1;
        text-align: center;
        list-style: none;
        margin:0;
        
    }
      
    li#logo {
        flex: 3;
        display: flex;
        justify-content: center;
    }
    
    li .gold{
        background-color: gold;
        padding:10px;
        border-radius: 16px;
        font-size:12px;
        font-weight: bold;
    }
    
    li:nth-child(3) {
        background-color: gold;
        font-size:18px;
        padding:20px 20px;
        border-radius: 36px;
        font-weight: bold;
        max-width:100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    li#logo img {
        height: 30px;
        margin-right: 20%;
    
    }
    main{
        color:brown

    }
    h1{
        font-weight: bold;
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
        object-fit: contain;
      }

      #quarto{
        position:absolute;
        right:18%;
        top:57%;
      }
    
    .container{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 180px;
        height: 250px;
        border-radius:30px;
        overflow: hidden;
        background-color: rgb(253, 242, 200);
        color:brown;
        

    }

    .container img{
        width: 100%;
        height:40%;
    }
    .container h2{
        font-size:14px;
    }
    .container button{
        color:brown;
        background-color: gold;
        width: 50%;
        border-radius: 10px;
        margin:0 auto;
    }
    #container-aside{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin:0 auto;
        width: 100%;
        padding:5px 10px 20px 10px;
        background-color:  rgb(253, 242, 200);
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 20px;
    }
    h4{
        margin-top:20px;
        font-size: larger;
        
    }
    
    #text-container{
        width: 90%;
        color: brown;
    }

    #img-container{
        display: flex;
        justify-content: center;
    }
    img{
        width: 90%;

    }


    
 
   
}


